button {
  background-color: #ff3e00;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: inherit;
  height: 50px;
  margin: 0 16px;
  padding: 0;
  width: 90px;

  &:disabled {
    background-color: #992600;
    cursor: default;

    p {
      opacity: 0.2;
    }
  }

  &:focus-visible {
    background-color: #ff3e00;
    outline: #992600 solid 3px;
  }

  &:not(:disabled):active {
    background-color: #ff3e00;
  }

  &:not(:disabled):hover {
    background-color: #cc3300;
  }

  p {
    color: #fff;
    font-size: large;
    line-height: 50px;
    opacity: 0.9;
    margin: 0;
  }
}