@import url("https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap&text=二進指数え法道場手動自十開始再停止0に戻す");

html, body {
	position: relative;
	width: 100%;
}

body {
	box-sizing: border-box;
	color: #333;
	font-family: 'Yuji Syuku', serif;
	margin: 0;
	min-height: 100vh;
	padding: 0;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}