@import url("https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap&text=%E4%BA%8C%E9%80%B2%E6%8C%87%E6%95%B0%E3%81%88%E6%B3%95%E9%81%93%E5%A0%B4%E5%8D%81%E3%81%AB%E6%88%BB%E3%81%99");

html, body {
	position: relative;
	width: 100%;
}

body {
	box-sizing: border-box;
	color: #333;
	font-family: 'Yuji Syuku', serif;
	margin: 0;
	min-height: 100vh;
	padding: 0;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}