@import url('https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap');

html, body {
	height: 100%;
	position: relative;
	width: 100%;
}

body {
	box-sizing: border-box;
	color: #333;
	font-family: 'Yuji Syuku', serif;
	margin: 0;
	padding: 0;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}